.cards {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 2rem 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .cards {
        flex-direction: column;
    }
}