.section {
    width: 100%;
    min-height: 30vh;
    padding: 4rem 16rem;
}

@media (max-width: 600px) {
    .section {
        padding: 1.5rem;
    }
    .section > h1 {
        font-size: 4.5em;
    }
}