.card {
    width: 30%;
    background-color: white;
    /* padding: 2rem; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    color: white;
}

.mainImage {
    width: 100%;
    aspect-ratio: 1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem 0;
    background-color: #efefef;
}

.gallery img {
    width: 30%;
    border: thin solid black;
    border-radius: 1rem;
}

.gallery img:hover {
    box-shadow: 0.25rem 0.25rem 0 black;
}

.gallery img.selected {
    border: medium solid black;
}

.info {
    background-color: white;
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.info a {
    text-decoration: underline;
    background-color: white;
    color: black;
    padding: 0.25rem;
    /* border: thin solid black; */
}

/* iPad */
@media (max-width: 1280px) {
    .card {
        width: 100%
    }
}