.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.image {
    height: 16rem;
    width: 16rem;
    border-radius: 1rem;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
