.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    gap: 1rem;
    width: 100%;
}

.topRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.datetime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    justify-content: center;
    background-color: white;
}

.image {
    width: 8rem;
    aspect-ratio: 1;
}

.dayOfWeek {
    text-transform: uppercase;
    font-size: 2em;
    padding: 1rem;
    background-color: black;
    color: white;
    min-width: 8em;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.player {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    min-width: 20rem;
}

.twitchLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitchLogo {
    width: 1.5em;
    height: 1.5em;
    color-scheme: inherit;
}

.twitchLogo:hover {
    fill: rgb(169, 112, 255);
}

@media (max-width: 600px) {
    .topRow {
        flex-direction: column;
    }
    .topRow > * {
        width: 100%;
    }
    .datetime {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .players {
        width: 100%;
    }
    .player {
        width: 100%;
    }
}